/*font google*/


* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}




/*end*/

#dashmaincontainer{
  display: flex;
  flex-direction: row;
 
}

div.dash_sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 18%;
  height: 100%;
  background: #cae1ef;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

div.dash_sidebar::-webkit-scrollbar {
  width: 0;
  display: none;
}

div.dash_sidebar .dash_sidebar_menus {
  padding-right: 15px;
}

div.dash_content_container {
  margin-left: 18%;
  width: 100%; 
  background: #f6f8fa;
  overflow-y: hidden; 
}

ul.dash_menu_lists{

  margin-top: -10px;
} 
ul.dash_menu_lists, li{
  padding:15px 5px;
  text-transform: uppercase;
}

ul.dash_menu_lists, li a{
  text-decoration: none;
  color: black;
  display: block;
  font-size: 17px;
}

ul.dash_menu_lists li.menuactive{
  background: #fff;
  color: #fff;
}

ul.dash_menu_lists li:hover{
  background: #fff;
  color: #fff;
  transition: 0.3s all;
}

div.dash_topnav{
  background: #2468a0;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.dash_topnav, a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  
}

a#lougoutbtn{
  float: right;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1{
  color: black;
  margin-left: 150px;
}
h3 {
  color: white;
}
h5 {
  color: black;
  margin-left: 10px;
}
h6 {
  font-size: larger;
  font-weight: bold;

 
}
a{
  color:black;
  text-decoration: none;
}

.container .content .content-2 {
  min-height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

div.item_row {
  padding: 30px 10px 10px 10px;
}

  div.item_col{
  min-height: 900px;
  height: 100vh; 
  }

.breadcrumb {
  margin-top: 0;
  padding: 2px 3px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #fff;

}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #777;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 15px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-default1 {
    border-color: #ddd;
  }
.panel-default {
  border-color: #ddd;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

nav ul {
  background: #cae1ef;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li {
  line-height: 50px;
  border-top: 1px solid hsl(0 0% 50% / 0.3);
  cursor: pointer;
}

.dropdownIcon {
  color: black !important;
  font-size: 13px !important;
}

nav ul li a {
  position: relative;
  color: black !important;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding-left: 1.15rem;
  font-weight: 600;
  display: block;
  width: 100%;
  border-left: none;
  cursor: pointer;
  text-decoration: none !important;
}

nav ul li.active a {
  color: black !important;
}

.active_link {
  background-color: #fce99c !important;
  border-left: 2px solid #e5b15e !important;
}

nav ul li div a:hover {
  background-color: #fdcb24 !important;
}

nav ul .li_hover ul li:hover {
  background-color: #fdcb24 !important;
  color: black !important;
  border-left: none !important;
}

nav ul .nav_hover li a:hover {
  background-color: #fdcb24;
  padding: 10px;
  color: black !important;
}

.nav_active {
  background-color: rgb(253 253 136 / 68%) !important;
  border-left: 2px solid #e5b15e !important;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black !important;
}

nav ul ul {
  position: static;
  display: none;
  color: black !important;
}

nav ul .org-show.show1 {
  display: block;
}

nav ul .rep-show.show2 {
  display: block;
}

nav ul .emp-show.show3 {
  display: block;
}

nav ul .lev-show.show4 {
  display: block;
}

nav ul .not-show.show5 {
  display: block;
}

nav ul .pro-show.show6 {
  display: block;
}

nav ul ul li {
  line-height: 35px;
  border-top: none;
}

nav ul ul li a {
  font-size: 0.75rem;
  color: white;
  padding-left: 1.75rem;
  font-weight: 500;
  letter-spacing: 1px;
}

nav ul li.active ul li a {
  color: black;
  border-left-color: transparent;
}

nav ul ul li a:hover {
  color: #2468a0!important;
}

nav ul li a span {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
  font-size: 0.70rem;
  transition: transform 500ms;
  color: #2468a0(0 0% 90% / 0.5);
}

nav ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}


/* --- CARD DASHBOARD --- */

.dash_content_main .cards {
  gap: 10px 50px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.dash_content_main .cards .card-box {
  position: relative;
  width: 300px;
  height: 120px; /* Adjust the height as needed */
  background: #fff3c4;
  border: 2px solid rgb(193, 193, 193);
  margin: 20px 10px;
  display: flex;
  flex-direction: column; /* Changed to column */
  justify-content: space-between; /* Changed to space-between */
  align-items: center; /* Added */
  box-shadow: 2px 4px 10px rgba(29, 74, 254, 0.879), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease; /* Added transition for smooth hover effect */
}

.dash_content_main .cards .card-box:hover {
  background: rgb(112, 169, 255); 
  border: 2px solid rgb(255, 255, 255);
}

.cards a {
  text-decoration: none;
}

.card-number {
  position: absolute;
  top: 10px;
  right: 20px;
  text-decoration: none;
}

.icon-label {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
}

.icon-label i {
  margin-right: 5px;
  margin-bottom: 10px;
}

.icon-label h5 {
  margin-left: 5px;
  font-family: 'Glacial Indifference';
}

.cards .align-horizontal .icon-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.cards .align-horizontal .icon-label i {
  margin-right: 0;
  margin-bottom: 7px;
}

.cards .align-horizontal .icon-label h5 {
  margin-left: 5px;
  font-family: 'Glacial Indifference';
}

/* --- CALENDAR --- */

#calendar {
  background-color: aquawhite;
}

.ds {
  background: rgb(235, 220, 10);
}
